.navbar {
    background-color: #414641;
    
}

.navbar img {
    margin-left: 20px;
}

.home {
    background-color: rgb(37, 37, 37);
    color: white;
}

.clubes {
    background-color: rgb(97, 97, 97);
}

.clubes img {
    padding: 10px 0 10px 0;
}

.quem-somos {
    background-color: #8a8a8a;
    color: white;
}

.margin{
    padding: 30px 0 30px 0;
}

.bg-footer {
    background-color: black;
    color:white;
}